{% extends 'base.html.twig' %}
{% block body %}
    {% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            FF.init();
            RE.init('supercategory_index');
        });
    </script>
{% endblock %}
<h1>
    {% trans %}storebundle.supercategory.list{% endtrans %}
</h1>

    <div class="row">
        <div class="col-md-6">
            <div id="content_menu">
                {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.product.portal','storebundle.menu.supercategory'] , {context: 'content'}) %}
                {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
            </div>
        </div>
        <div class="col-md-6">
            {% transchoice pagination.getTotalItemCount %}
            {0} no result found|{1} found one result|]1,Inf[ found %count% results
            {% endtranschoice %}
            {{ knp_pagination_render(pagination) }}
            {% if  formFilter is defined %}
            <form method="get" action="." class="formFilter">
                {{ form_rest(formFilter) }} <input type="submit" class="btn btn-sm btn-secondary" name="submit-filter" value="{% trans %}storebundle.button.filter{% endtrans %}" />
            </form>
            {% endif %}
        </div>
    </div>


<table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}storebundle.action{% endtrans %}</th>
            <th>
                {{ rowsLiveEditor.getActions()|raw }}
            </th>
            <th>{{ knp_pagination_sortable(pagination, 'storebundle.ispublished'|trans, 'b.isPublished') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'storebundle.pos'|trans, 'b.pos') }}</th>
            <th>{% trans %}storebundle.categories{% endtrans %}</th>
            <th>{{ knp_pagination_sortable(pagination, 'storebundle.name'|trans, 'b.name') }}</th>
            <th>{% trans %}storebundle.pictures{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% set entityName = 'LilWorksStoreBundle:SuperCategory' %}

        {% for superCategory in pagination %}
            <tr>
                <td>
                    {% set formatedItems = pagination.items|idinkey %}
                    {% set menu = knp_menu_get('list', [ superCategory.id ] ,{results:formatedItems[superCategory.id]   ,target:'supercategory'} ) %}
                    {{ knp_menu_render(menu,{template: 'LilWorksStoreBundle:Menu:list.html.twig'}) }}
                </td>
                <td>
                    {{ rowsLiveEditor.getRowCheckbox( superCategory.id )|raw }}
                </td>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\SuperCategory\\IsPublishedType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'isPublished',superCategory)|raw }}
                </td>

                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\SuperCategory\\PosType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'pos',superCategory)|raw }}
                </td>
                <td>{{ superCategory.supercategoriesCategories|length }}</td>

                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\SuperCategory\\NameType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'name',superCategory)|raw }}
                </td>
                <td>
                    {% if superCategory.pictureName %}
                        <img src="{{ asset('superCategory/' ~ superCategory.pictureName  ) | imagine_filter('my_thumb') }}" />
                    {% else %}
                        <i class="fa fa-circle" ></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
