{% extends 'LilWorksStoreBundle:Pdf:base.html.twig' %}

{% block title %}
<h2>{{ 'storebundle.depositsale.justify'|trans }}: {{ depositSale.reference }}</h2>
{% endblock %}


{% block customer %}
    <div style="text-align: right">
        {{ depositSale.customer.firstName }} {{ depositSale.customer.lastName }} {{ depositSale.customer.companyName }}
        <p>
            {{ depositSale.address|addressInline }}
        </p>
    </div>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <tbody>

    <tr>
        <th>{{ 'storebundle.product'|trans }}</th>
        <td>

                {{ depositSale.product.brand.name }} {{ depositSale.product.name }}
        </td>
    </tr>
    <tr>
        <th>{% trans %}storebundle.depositsale.deposedat{% endtrans %}</th>
        <td>
            {{ depositSale.deposedAt|date("d/m/Y") }}
        </td>
    </tr>

    <tr>
        <th>{% trans %}storebundle.depositsale.pricebuying{% endtrans %}</th>
        <td>
            {{ depositSale.priceBuying|price }}
        </td>
    </tr>


    <tr>
        <td>{{ depositSale.description|raw }}</td>
    </tr>


    </tbody>
</table>

    <div>
        {{ CGV.content|raw }}
    </div>
{% endblock %}
