{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}storebundle.depositsale.show{% endtrans %}
    </h1>

    <div class="btn-group btn-group-sm lw-storebundle-action" role="group" aria-label="actions">
        <a href="{{ path('depositSale_index') }}" class="btn btn-info btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans %}storebundle.link.list{% endtrans %}
        </a>
        <a href="{{ path('depositSale_new') }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i> {% trans %}storebundle.link.new{% endtrans %}
        </a>
        <a href="{{ path('depositSale_edit', { depositsale_id: depositSale.id }) }}" class="btn btn-primary btn-sm">
            <i class="fa fa-pencil" aria-hidden="true"></i> {% trans %}storebundle.link.edit{% endtrans %}
        </a>
        <a href="{{ path('depositSale_pdf',{ depositsale_id:depositSale.id}) }}" class="btn btn-primary btn-sm {% if depositSale.status is null %}disabled{% endif %}">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {% trans %}storebundle.link.pdf{% endtrans %}
        </a>
        <a href="{{ path('depositSale_delete', { depositsale_id: depositSale.id }) }}"  class="btn btn-danger btn-sm btn-delete" >
            <i class="fa fa-trash" aria-hidden="true"></i> {% trans %}storebundle.link.delete{% endtrans %}
        </a>
    </div>




    <table class="table table-striped">
        <tbody>
        <tr>
            <th>{% trans %}storebundle.reference{% endtrans %}</th>
            <td>{{ depositSale.reference }}</td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.customer{% endtrans %}</th>
            <td>
                <a role="button" class="btn btn-sm btn-secondary" href="{{ path('customer_edit',{customer_id: depositSale.customer.id}) }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i> {{ depositSale.customer.firstName }} {{ depositSale.customer.lastName }} {{ depositSale.customer.companyName }}
                </a>

            </td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.address{% endtrans %}</th>
            <td>
                {% if depositSale.address %}
                    {{ depositSale.address|addressInline }}
                {% else %}
                    <span style="color: red;"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.product{% endtrans %}</th>
            <td>
                <a role="button" class="btn btn-sm btn-secondary" href="{{ path('product_edit',{product_id: depositSale.product.id}) }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {% if  depositSale.product.pictures|length>0 %}
                        <img src="{{ asset('product/' ~  depositSale.product.pictures[0].pictureName  ) | imagine_filter('mini') }}" />
                    {% endif %}
                    {{ depositSale.product.brand.name }} {{ depositSale.product.name }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.depositsale.deposedat{% endtrans %}</th>
            <td>
                {{ depositSale.deposedAt|date("d/m/Y") }}
            </td>
        </tr>

        <tr>
            <th>{% trans %}storebundle.depositsale.selledat{% endtrans %}</th>
            <td>
                {% if depositSale.selledAt %}
                    {{ depositSale.selledAt|date("d/m/Y") }}
                {% else %}
                    <span style="color: red;"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.depositsale.coupon{% endtrans %}</th>
            <td>
                {% if depositSale.coupon  %}
                <a role="button" class="btn btn-sm btn-secondary" href="{{ path('coupon_edit',{coupon_id: depositSale.coupon.id}) }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{ depositSale.coupon.reference }} ({{ depositSale.coupon.amount|price }})
                </a>
                {% else %}
                    <span style="color: red;"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.description{% endtrans %}</th>
            <td>{{ depositSale.description|raw }}</td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.descriptioninternal{% endtrans %}</th>
            <td>{{ depositSale.descriptionInternal|raw }}</td>
        </tr>


        </tbody>
    </table>

{% endblock %}
