{% extends 'SiteBundle:Customer:base.html.twig' %}
{% block customer %}






<div class="card">
    <div class="card-header">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>  {% trans %}sitebundle.yourorders{% endtrans %}
    </div>
    <div class="card-block">

        <div class="card-text">
            {% set menuItem = knp_menu_get('usercustomer', ['sitebundle.menu.customer.orders']) %}
            {{ knp_menu_render(['usercustomer', 'sitebundle.menu.customer.orders'],{template : 'Menu/userCustomerMenu.html.twig'}) }}
        </div>

        <div  class="card-text">

            <div class="row">

                <div class="col-lg-12">
                    {% transchoice pagination.getTotalItemCount %}
                    {0} No order found|{1} found one order|]1,Inf[ found %count% orders
                    {% endtranschoice %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}sitebundle.action{% endtrans %}</th>
            <th>{% trans %}sitebundle.createdat{% endtrans %}</th>
            <th>{% trans %}sitebundle.updatedat{% endtrans %}</th>
            <th>{% trans %}sitebundle.reference{% endtrans %}</th>
            <th>{% trans %}sitebundle.tot{% endtrans %}</th>
            <th>{% trans %}sitebundle.payed{% endtrans %}</th>
            <th>{% trans %}sitebundle.products{% endtrans %}</th>
            <th>{% trans %}sitebundle.ordersteps{% endtrans %}</th>

        </tr>
        </thead>
        <tbody>

        {% for order in pagination %}
            <tr>
                <td>
                    {% set formatedItems = pagination.items|idinkey %}
                    {% set menu = knp_menu_get('siteList', [ order.id ] ,{results:formatedItems[order.id]   ,target:'order'} ) %}
                    {{ knp_menu_render(menu,{template: 'LilWorksStoreBundle:Menu:list.html.twig'}) }}
                </td>
                <td>
                    {{ order.createdAt|date('d/m/Y H:i') }}
                </td>

                <td>{{ order.updatedAt|date('d/m/Y H:i') }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.tot|price }}</td>
                <td>
                    {% if order.payed == order.tot %}
                        <span style="color: green;">{{ order.payed|price }}</span>
                    {% else %}
                        <span style="color: red;">{{ order.payed|price }}</span>
                    {% endif %}
                </td>
                <td>{{ order.ordersProducts|length }}</td>
                <td>
                    {% if order.ordersOrderSteps|length > 0%}
                        {{ order.ordersOrderSteps[0].orderStep.name }}
                    {% endif %}
                </td>



            </tr>
        {% endfor %}
        </tbody>
    </table>


        </div>
    </div>
</div>

{% endblock %}
