{% extends 'LilWorksStoreBundle:Pdf:base.html.twig' %}

{% block title %}
    <h2>{{ 'storebundle.coupon.justify'|trans }}: {{ coupon.reference }}</h2>
{% endblock %}


{% block customer %}
    <div style="text-align: right">
        {{ coupon.customer.firstName }} {{ coupon.customer.lastName }} {{ coupon.customer.companyName }}
        {% if coupon.address is defined %}
            <p>
                {{ coupon.address|formataddress }}
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block date %}
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tbody>

        <tr>
            <th>{% trans %}storebundle.coupon.validity{% endtrans %}</th>
            <td>{{ coupon.validity|date }}</td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.coupon.initamount{% endtrans %}</th>
            <td>{{ coupon.amount|price }}</td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.coupon.restamount{% endtrans %}</th>
            <td>{{ coupon.getAmountAvailable|price }}</td>
        </tr>

        <tr>
            <th>{% trans %}storebundle.coupon.isactive{% endtrans %}</th>
            <td>{{ coupon.isActive|boolean|raw }}</td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.coupon.splitable{% endtrans %}</th>
            <td>{{ coupon.splitable|boolean|raw }}</td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.coupon.availableonline{% endtrans %}</th>
            <td>{{ coupon.availableOnline|boolean|raw }}</td>
        </tr>
        {% if coupon.ordersPaymentMethods|length > 0 %}
        <tr>

            <th>{% trans %}storebundle.coupon.paymentmethods{% endtrans %}</th>
            <td>
                {% for orderPaymentMethod in coupon.ordersPaymentMethods %}
                    {{ orderPaymentMethod.order.createdAt|date('d/m/Y') }} {{ orderPaymentMethod.order.reference }}  ({{ orderPaymentMethod.amount|price }})
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
