{% extends 'base.html.twig' %}

{% block body %}


    <h1>
        {% trans %}lilworks.storebundle.tax.new{% endtrans %}
    </h1>


    <div class="btn-group btn-group-sm lw-storebundle-action" role="group" aria-label="actions">
        <a href="{{ path('tax_index') }}" class="btn btn-info btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.list{% endtrans %}
        </a>
    </div>

    {{ form_start(form) }}

    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}lilworks.storebundle.button.create{% endtrans %}" />

    <div class="row">
        <div class="row-sm-10 offset-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-sm btn-success" value="{% trans %}lilworks.storebundle.button.create{% endtrans %}" />
            {{ form_end(form) }}
        </div>
    </div>


    {{ form_end(form) }}

{% endblock %}
