{% extends 'baseFull.html.twig' %}
{% block body %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $( function() {
                FCE.init('addresses','addresses list-inline','addresse list-inline-item');
            } );
        </script>
    {% endblock %}

    {{ form_start(form) }}
    <div class="card">
        <h3 class="card-header">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            {% trans %}sitebundle.addresses{% endtrans %}
            <input type="submit" class="btn  btn-primary" value="{% trans %}sitebundle.button.edit{% endtrans %}" />
        </h3>
        <div class="card-block">

            <ul class="addresses list-inline " id="target" data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}">
                {% for addresse in form.addresses %}
                    <li class="addresse list-inline-item">
                        {{ form_row(addresse) }}
                    </li>
                {% endfor %}
            </ul>
            {{ form_widget(form.addresses) }}
            <input type="submit" class="btn  btn-primary" value="{% trans %}sitebundle.button.edit{% endtrans %}" />
            {{ form_end(form) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
