<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    {% if base_dir is defined %}
        <link rel="stylesheet"
              href="{{ base_dir ~ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    {% else %}
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    {% endif %}

    <style>
        body{
            font-size:12px;
        }
        .tot{
            font-size: 15px;;
        }
    </style>
</head>
<body>

    <h1>
        {{ order.reference }}
    </h1>

    <div style="text-align: right;">
        <strong>
            {{ order.customer.firstName ~ ' ' ~ order.customer.lastName ~ ' ' ~ order.customer.companyName }}
        </strong>
        <div>
        {% if order.billingAddressString is defined and order.billingAddressString is not null and order.billingAddressString != "" %}
            {{ order.billingAddressString }}
        {% elseif order.billingAddress is not null %}
            {{ order.billingAddress|formataddress|raw}}
        {% endif %}
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}storebundle.name{% endtrans %}</th>
            <th>{% trans %}storebundle.quantity{% endtrans %}</th>
            <th>{% trans %}storebundle.price{% endtrans %}</th>
            <th>{% trans %}storebundle.tot{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.ordersProducts %}
            <tr>
                <td>{{ product.name }}
                    {% if product.serialNumber %}
                        <br>
                        <span class="serialNumber">{{ product.serialNumber }}</span>
                    {% endif %}

                    {% if  product.warranties|length > 0 %}
                        <ul class="list list-unstyled">
                            {% for warranty in product.warranties %}
                                <li>{{ warranty.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if  product.orderRealShippingMethod is not null %}
                        {{ product.orderRealShippingMethod.shippingMethod.name }} |
                        {{ product.orderRealShippingMethod.reference }}
                    {% endif %}

                </td>

                <td>{{ product.quantity }}</td>
                <td>
                    {{ product.price|price|raw }}
                    {% if product.taxes|length > 0 %}
                        <ul class="list list-unstyled">
                            {% for tax in product.taxes %}
                                <li>{{ tax.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    <ul class="list list-unstyled">
                        {% set price = product.price|priceCalculator(product)  %}
                        <li>{{ price['HT']|price('HT')|raw }}</li>
                        <li>{{ price['TTC']|price('TTC')|raw }}</li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="tot">
        {{ order.tot|price }}
    </div>

    {% if order.ordersPaymentMethods|length>0 %}
    <div>
        <ul>
        {% for pm in order.ordersPaymentMethods  %}
            <li>{{ pm.amount|price }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

</body>
</html>