{% extends 'LilWorksStoreBundle:Pdf:base.html.twig' %}

{% block title %}
    <h1>
        {{ order.reference }}
    </h1>
{% endblock %}

{% block date %}
    <h3>
        {{ order.updatedAt| localizeddate('full', 'none', app.request.locale ) }}
    </h3>
{% endblock %}

{% block customer %}

    {% if  order.customer is defined and order.customer is not null %}
        <div style="text-align: right;">
            <strong>
                {{ order.customer.firstName ~ ' ' ~ order.customer.lastName ~ ' ' ~ order.customer.companyName }}
            </strong>
            <div>
                {% if order.billingAddressString is defined and order.billingAddressString is not null and order.billingAddressString != "" %}
                    {{ order.billingAddressString }}
                {% elseif order.billingAddress is not null %}
                    {{ order.billingAddress|formataddress|raw}}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}storebundle.name{% endtrans %}</th>
            <th>{% trans %}storebundle.quantity{% endtrans %}</th>
            <th>{% trans %}storebundle.price{% endtrans %}</th>
            <th>{% trans %}storebundle.tot{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.ordersProducts %}
            <tr>
                <td>
                    <strong>{{ product.name }}</strong>
                    {% if product.serialNumber %}
                        <br>
                        <span class="serialNumber">{{ product.serialNumber }}</span>
                    {% endif %}

                    {% if  product.isSecondHand == 1 %}
                        <span class="is-secondhand">{% trans %}storebundle.issecondhand{% endtrans %}</span>
                    {% endif %}

                    {% if  product.warranties|length > 0 %}
                        <ul class="list list-unstyled">
                            {% for warranty in product.warranties %}
                                <li>{{ warranty.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if  product.orderRealShippingMethod is not null %}
                        {{ product.orderRealShippingMethod.shippingMethod.name }}
                        {% if  product.orderRealShippingMethod.reference is not null %}
                            [ {{ product.orderRealShippingMethod.reference }} ]
                        {% endif %}
                    {% endif %}

                </td>

                <td>{{ product.quantity }}</td>
                <td>
                    {{ product.price|price|raw }}
                    {% if product.taxes|length > 0 %}
                        <ul class="list list-unstyled">
                            {% for tax in product.taxes %}
                                <li class="tax">{{ tax.name }} {{ tax.value|price }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    <ul class="list list-unstyled">
                        {% set price = product.price|priceCalculator(product)  %}
                        <li class="totHT">{{ price['HT']|price('HT')|raw }}</li>
                        <li class="totTTC">{{ price['TTC']|price('TTC')|raw }}</li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="tot">
        {% set tots = order.tot|totPriceCalculator(order.ordersProducts)  %}
        <div class="totHT">Total HT: {{ tots['HT']|price }}</div>
        <div class="totTTC">Total TTC: {{ tots['TTC']|price }}</div>


        {% if order.tot - order.payed > 0 %}
            <div class="restToPay">
                reste à payer: {{ (order.tot - order.payed) | price }}
            </div>
        {% elseif  order.tot - order.payed < 0  %}
            <div class="toMuchPayed">trop perçu: {{ (order.tot - order.payed) | price }} </div>
        {% else %}
            <div class="payed">Reglée</div>
        {% endif %}

    </div>

    {% if order.ordersPaymentMethods|length>0 %}
        <div>
            <th>
                {% if order.ordersPaymentMethods|length == 1 %}{% trans %}storebundle.paymentmethod{% endtrans %}{% endif %}
                {% if order.ordersPaymentMethods|length > 1 %}{% trans %}storebundle.paymentmethods{% endtrans %}{% endif %}
            </th>
            <ul>
                {% for pm in order.ordersPaymentMethods  %}
                    <li> {{ pm.payedAt| localizeddate('full', 'none', app.request.locale ) }} • {{ pm.paymentMethod.name }} {{ pm.amount|price }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


{% endblock %}




