{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <i class="fa fa-file" aria-hidden="true"></i>
        {% trans %}storebundle.order.facture.show{% endtrans %}
        <span class="badge badge-default">{{ order.reference }}</span>
    </h1>


    <div id="content_menu">
        {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.document.portal','storebundle.menu.order'] , {context: 'content'}) %}
        {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{% trans %}storebundle.reference{% endtrans %}</th>
                <td>{{ order.reference }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.createdat{% endtrans %}</th>
                <td>{% if order.createdAt %}{{ order.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.updatedat{% endtrans %}</th>
                <td>{% if order.updatedAt %}{{ order.updatedAt|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.orderstep{% endtrans %}</th>
                <td>
                    <ul>
                    {% for orderOrderStep in order.ordersOrderSteps %}
                        <li>{{ orderOrderStep.createdAt|date }} • {{ orderOrderStep.orderStep.name }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.customer{% endtrans %}</th>
                <td>
                    {% if order.customer %}
                        {{ order.customer.firstName }} {{ order.customer.lastName }} {{ order.customer.companyName }}
                    {% else %}
                        <i class="fa fa-circle-thin" style="color: red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.order.shippingaddress{% endtrans %}</th>
                <td>
                    {% if order.shippingAddress is defined and order.shippingAddress is not null %}
                        {{ order.shippingAddress|addressInline|raw }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.order.billingaddress{% endtrans %}</th>
                <td>
                    {% if order.billingAddress is defined and order.billingAddress is not null %}
                        {{ order.billingAddress|addressInline|raw }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.order.usercomment{% endtrans %}</th>
                <td>{{ order.userComment }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.order.storecomment{% endtrans %}</th>
                <td>{{ order.storeComment }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.tot{% endtrans %}</th>

                <td>
                    {% set tot = order.tot|totPriceCalculator(order.ordersProducts)  %}
                    <li>{{ tot['HT']|price('HT')|raw }}</li>
                    <li>{{ tot['TTC']|price('TTC')|raw }}</li>
                </td>
            </tr>
            <tr>
                <th>
                    <a role="button" class="btn btn-sm btn-secondary" href="{{ path('order_edit',{order_id:order.id})~'#paymentmethods' }}">
                        <i class="fa fa-pencil"></i>{% trans %}payments{% endtrans %}
                    </a>
                </th>
                <td>
                    {% set payed = 0 %}
                    {% for payment in order.ordersPaymentMethods %}
                        <li> {{ payment.payedAt|date('d/m/Y') }} | {{ payment.paymentMethod.name }} {{ payment.amount|price|raw  }}</li>
                        {% set payed = payed+payment.amount %}
                    {% endfor %}
                    <div>
                        <ul>
                            <li>{% trans %}storebundle.order.payed{% endtrans %}:{{ payed|price }}</li>
                            {% set rest = tot['TTC']-payed %}
                            <li>
                                {% trans %}storebundle.order.resttopay{% endtrans %}:
                                {% if rest > 0 %}
                                    <span style="color: red;">{{ rest|price }}</span>
                                {% else %}
                                    <span style="color: green;">{{ rest|price }}</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <a role="button" class="btn btn-sm btn-secondary" href="{{ path('order_edit',{order_id:order.id})~'#shippingmethods' }}">
                        <i class="fa fa-pencil"></i>{% trans %}storebundle.shippingmethods{% endtrans %}
                    </a>
                </th>
                <td>
                    {% if  order.ordersRealShippingMethods|length > 0 %}
                        <ul>
                            {% for orderRealShippingMethod in order.ordersRealShippingMethods %}
                                <li>
                                    {{ orderRealShippingMethod.shippingMethod.name }}
                                    {#
                                    <a role="button" class="btn btn-sm btn-secondary" href="{{ path('realshippingmethod_show',{id:realShippingMethod.id}) }}">{{ realShippingMethod.reference }} {{ realShippingMethod.price|price }}</a>
                                    #}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <i class="fa fa-circle"></i>
                    {% endif %}
                </td>
            </tr>


            <tr>
                <th>
                    <a role="button" class="btn btn-sm btn-secondary" href="{{ path('order_edit',{order_id:order.id})~'#products' }}">
                        <i class="fa fa-pencil"></i>{% trans %}storebundle.product{% endtrans %}
                    </a>
                </th>
                <td>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{% trans %}storebundle.action{% endtrans %}</th>
                                <th>{% trans %}storebundle.id{% endtrans %}</th>
                                <th>{% trans %}storebundle.product{% endtrans %}</th>
                                <th>{% trans %}storebundle.shippingmethod{% endtrans %}</th>
                                <th>{% trans %}storebundle.warranties{% endtrans %}</th>
                                <th>{% trans %}storebundle.quantity{% endtrans %}</th>
                                <th>{% trans %}storebundle.priceperunity{% endtrans %}</th>
                                <th>{% trans %}storebundle.tot{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in order.ordersProducts %}
                                {% set return = product.orderProductReturn %}
                                <tr>
                                    <td>
                                        {% if return is null and returnsAllowed %}
                                            <a role="button" class="btn btn-sm btn-warning btn-secondary" href="{{ path('orderproductreturn_new',{orderproduct_id:product.id}) }}">
                                                <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                {% trans %}storebundle.product.return{% endtrans %}
                                            </a>
                                        {% elseif return  %}
                                            <a role="button" class="btn btn-sm btn-info btn-secondary" href="{{ path('orderproductreturn_show',{orderproductreturn_id:return.id}) }}">
                                                <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                {% trans %}storebundle.product.return{% endtrans %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ product.product.id }}</td>
                                    <td>{{ product.name }}
                                        {% if product.serialNumber %}
                                        <br><span class="serialNumber">{{ product.serialNumber }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if  product.orderRealShippingMethod is not null %}
                                            {{ product.orderRealShippingMethod.shippingMethod.name }} |
                                            {{ product.orderRealShippingMethod.reference }}
                                        {% else %}
                                            <i class="fa fa-circle"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if  product.warranties|length > 0 %}
                                            <ul>
                                                {% for warranty in product.warranties %}
                                                    <li>{{ warranty.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <i class="fa fa-circle"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ product.quantity }}</td>
                                    <td>
                                        {{ product.price|price|raw }}
                                        {% if product.taxes|length > 0 %}
                                            <ul>
                                                {% for tax in product.taxes %}
                                                    <li>{{ tax.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set price = product.price|priceCalculator(product)  %}
                                        <li>{{ price['HT']|price('HT')|raw }}</li>
                                        <li>{{ price['TTC']|price('TTC')|raw }}</li>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
