{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <i class="fa fa-file" aria-hidden="true"></i>
        {{ 'storebundle.order.show %reference%'|trans({ '%reference%':order.reference }) }}
    </h1>

    {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.document.portal','storebundle.menu.order'] , {context: 'content'}) %}
    {{ knp_menu_render(menu , { depth:1, 'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}



    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{% trans %}storebundle.reference{% endtrans %}</th>
                <td>{{ order.reference }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.createdat{% endtrans %}</th>
                <td>{% if order.createdAt %}{{ order.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.updatedat{% endtrans %}</th>
                <td>{% if order.updatedAt %}{{ order.updatedAt|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>

            <tr>
                <th>{% trans %}storebundle.ordersteps{% endtrans %}</th>
                <td>
                    <ul>
                    {% for orderOrderStep in order.ordersOrderSteps %}
                        <li>{{ orderOrderStep.createdAt|date }} • {{ orderOrderStep.orderStep.name }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.customer{% endtrans %}</th>
                <td>
                    {% if order.customer %}
                        {{ order.customer.firstName }} {{ order.customer.lastName }} {{ order.customer.companyName }}
                    {% else %}
                        <i class="fa fa-circle-thin" style="color: red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.shippingaddress{% endtrans %}</th>
                <td>
                    {% if order.shippingAddress is defined and order.shippingAddress is not null %}
                        {{ order.shippingAddress|addressInline|raw }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.billingaddress{% endtrans %}</th>
                <td>
                    {% if order.billingAddress is defined and order.billingAddress is not null %}
                        {{ order.billingAddress|addressInline|raw }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.usercomment{% endtrans %}</th>
                <td>{{ order.userComment }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.storeComment{% endtrans %}</th>
                <td>{{ order.storeComment }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.shippingmethods{% endtrans %}</th>
                <td>
                    {% if  order.ordersRealShippingMethods|length > 0 %}
                        <ul>
                            {% for orderRealShippingMethod in order.ordersRealShippingMethods %}
                                <li>
                                    {{ orderRealShippingMethod.shippingMethod.name }}
                                    {#
                                    <a role="button" class="btn btn-sm btn-secondary" href="{{ path('realshippingmethod_show',{id:realShippingMethod.id}) }}">{{ realShippingMethod.reference }} {{ realShippingMethod.price|price }}</a>
                                    #}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <i class="fa fa-circle"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.tot{% endtrans %}</th>

                <td>
                    {% set tot = order.tot|totPriceCalculator(order.ordersProducts)  %}
                    <li>{{ tot['HT']|price('HT')|raw }}</li>
                    <li>{{ tot['TTC']|price('TTC')|raw }}</li>
                </td>
            </tr>
            <tr>
                <th>
                    <a role="button" class="btn btn-sm btn-secondary" href="{{ path('order_edit',{order_id:order.id})~'#tabs-payments' }}">
                        <i class="fa fa-pencil"></i>{% trans %}storebundle.paymentmethods{% endtrans %}
                    </a>
                </th>
                <td>
                    {% set payed = 0 %}
                    {% for payment in order.ordersPaymentMethods %}
                        <li>{{ payment.paymentMethod.name }} {{ payment.amount|price|raw  }} {{ payment.payedAt|date('Y-m-d H:i') }}</li>
                        {% set payed = payed+payment.amount %}
                    {% endfor %}
                    <div>
                        <ul>
                            <li>{% trans %}storebundle.payed{% endtrans %}:{{ payed|price }}</li>
                            {% set rest = tot['TTC']-payed %}
                            <li>
                                {% trans %}storebundle.resttopay{% endtrans %}:
                                {% if rest > 0 %}
                                <span style="color: red;">{{ rest|price }}</span>
                                {% else %}
                                <span style="color: green;">{{ rest|price }}</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <a role="button" class="btn btn-sm btn-secondary" href="{{ path('order_edit',{order_id:order.id})~'#tabs-products' }}">
                        <i class="fa fa-pencil"></i>{% trans %}storebundle.products{% endtrans %}
                    </a>
                </th>
                <td>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{% trans %}storebundle.id{% endtrans %}</th>
                                <th>{% trans %}storebundle.name{% endtrans %}</th>

                                <th>{% trans %}storebundle.shippingmethod{% endtrans %}</th>
                                <th>{% trans %}storebundle.warranties{% endtrans %}</th>
                                <th>{% trans %}storebundle.quantity{% endtrans %}</th>
                                <th>{% trans %}storebundle.price{% endtrans %}</th>
                                <th>{% trans %}storebundle.tot{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in order.ordersProducts %}

                                <tr>
                                    {% if product.product is null %}
                                        <td>
                                            <a class="btn btn-sm btn-warning" role="button" href="{{ path('order_edit',{order_id:order.id}) }}#products">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                {{ 'storebundle.order.productnotset'|trans }}
                                            </a>

                                        </td>
                                    {% else %}
                                        <td>
                                            {{ product.product.id }}
                                        </td>
                                    {% endif %}

                                    <td>{{ product.name }}
                                        {% if product.serialNumber %}
                                            <br><span class="serialNumber">{{ product.serialNumber }}</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if  product.orderRealShippingMethod is not null %}
                                            {{ product.orderRealShippingMethod.shippingMethod.name }} |
                                            {{ product.orderRealShippingMethod.reference }}
                                        {% else %}
                                            <i class="fa fa-circle"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if  product.warranties|length > 0 %}
                                            <ul>
                                                {% for warranty in product.warranties %}
                                                    <li>{{ warranty.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <i class="fa fa-circle"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ product.quantity }}</td>
                                    <td>
                                        {{ product.price|price|raw }}
                                        {% if product.taxes|length > 0 %}
                                            <ul>
                                                {% for tax in product.taxes %}
                                                    <li>{{ tax.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set price = product.price|priceCalculator(product)  %}
                                        <li>{{ price['HT']|price('HT')|raw }}</li>
                                        <li>{{ price['TTC']|price('TTC')|raw }}</li>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
