{% extends 'base2col.html.twig' %}

{% block body %}
    {% block stylsheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" />
        <style>
            .price-range-disabled{
                visibility: hidden;
                height: 0;
            }
        </style>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
        <script>
            $( document ).ready(function() {
                $(".selectpicker").selectpicker();
                $(".price-range").slider({
                    formatter: function(value) {
                        return  value + "€";
                    }
                });
            });

        </script>

    {% endblock %}




    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-filter" aria-hidden="true"></i>
                {% trans %}sitebundle.filter{% endtrans %}
            </div>
            <div class="card-block">
                <div class="card-text">
                    <form method="get"  class="formFilter">
                        <input type="submit" class="btn btn-sm btn-primary" name="submit-filter" value="{% trans %}sitebundle.button.filter{% endtrans %}" />
                        {{ form_rest(formFilter) }}
                        <input type="submit" class="btn btn-sm btn-primary" name="submit-filter" value="{% trans %}sitebundle.button.filter{% endtrans %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- /.col-lg-3 -->
    <div class="col-md-9">


        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            {% if brand.pictureName %}
                                <img src="{{ asset('brand/'~brand.pictureName) | imagine_filter('card_header') }}" />
                            {% endif %}
                            {{ brand.name }}
                            {% if pagination is defined %}
                                ({{ pagination.getTotalItemCount }})
                            {% endif %}
                        </h3>
                    </div>
                    <div class="col-md-6" >
                        {% if categories|length>0 %}
                            {% if categories|length==1 %}
                                <a class="btn btn-secondary" href="{{ path('site_category',{'tag':categories[0].tag}) }}" style="float: right;">
                                        <img src="{{ asset('category/'~categories[0].pictureName) | imagine_filter('mini') }}" />
                                    {{ categories[0].name }}
                                </a>
                            {% else %}
                                <div class="dropdown" style="float: right;">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bullseye" aria-hidden="true"></i>
                                        {{ 'sitebundle.categories'|trans }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        {% for category in categories %}
                                                <a class="dropdown-item" href="{{ path('site_category',{'tag':category.tag}) }}">
                                                    <img src="{{ asset('category/'~category.pictureName) | imagine_filter('mini') }}" />
                                                    {{ category.name }}
                                                </a>
                                        {% endfor %}

                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="card-text">
                    {% if pagination is defined %}
                        <div class="pagination">
                            {{ knp_pagination_render(pagination) }}
                            <span class="alert alert-info" role="alert" >
                            <i class="fa fa-sort" aria-hidden="true"></i>
                                {{ knp_pagination_sortable(pagination, 'sitebundle.priceorder'|trans, 'p.priceOnline') }}
                        </span>
                        </div>
                    {% endif %}
                    <div class="row">
                        {% for product in pagination %}
                            {{ productService.getProduct(product.id)|raw }}
                        {% endfor %}
                    </div>


                    {% if pagination is defined %}
                        <div class="pagination">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>






{% endblock %}
