{% extends 'base2col.html.twig' %}

{% block body %}
    {% block stylsheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap-slider/slider.css') }}" />
        <style>
            .price-range-disabled{
                visibility: hidden;
                height: 0;
            }
        </style>

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/vendor/bootstrap-slider/bootstrap-slider.js') }}"></script>
        <script>
            $( document ).ready(function() {
                $(".selectpicker").selectpicker();
                $(".price-range").slider({
                    formatter: function(value) {
                        return  value + "€";
                    }
                });
            });

        </script>

    {% endblock %}




    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-filter" aria-hidden="true"></i>
                {% trans %}sitebundle.filter{% endtrans %}
            </div>
            <div class="card-block">
                <div class="card-text">
                    <form method="get"  class="formFilter">
                        <input type="submit" class="btn btn-sm btn-primary" name="submit-filter" value="{% trans %}sitebundle.button.filter{% endtrans %}" />
                        {{ form_rest(formFilter) }}
                        <input type="submit" class="btn btn-sm btn-primary" name="submit-filter" value="{% trans %}sitebundle.button.filter{% endtrans %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- /.col-lg-3 -->
<div class="col-md-9">


    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-md-6">
                    <h3>
                        <img src="{{ asset('category/'~category.pictureName) | imagine_filter('card_header') }}" />
                        {{ category.name }}
                        {% if pagination is defined %}
                            ({{ pagination.getTotalItemCount }})
                        {% endif %}
                    </h3>
                </div>
                <div class="col-md-6" >

                    {% if supercategories|length>0 %}
                        {% if supercategories|length==1 %}
                            <a class="btn btn-secondary" href="{{ path('site_supercategory',{'tag':supercategories[0].tag}) }}" style="float: right;">
                                <img src="{{ asset('supercategory/'~supercategories[0].pictureName) | imagine_filter('mini') }}" />
                                <i class="fa fa-object-group" aria-hidden="true"></i>
                                {{ supercategories[0].name }}
                            </a>
                        {% else %}
                            <div class="dropdown" style="float: right;">
                                <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'sitebundle.supercategories'|trans }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% for supercategory in supercategories %}
                                        <a class="dropdown-item" href="{{ path('site_supercategory',{'tag':supercategory.tag}) }}">
                                            <img src="{{ asset('brand/'~supercategory.pictureName) | imagine_filter('mini') }}" />
                                            {{ supercategory.name }}
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if brands|length>0 %}
                        {% if brands|length==1 %}
                            <a class="btn btn-secondary" href="{{ path('site_brand',{'tag':brands[0].tag}) }}" style="float: right;">
                                <img src="{{ asset('brand/'~brands[0].pictureName) | imagine_filter('mini') }}" />
                                <i class="fa fa-copyright" aria-hidden="true"></i>
                                {{ brands[0].name }}
                            </a>
                        {% else %}
                            <div class="dropdown" style="float: right;">
                                <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-copyright" aria-hidden="true"></i>
                                    {{ 'sitebundle.brands'|trans }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% for brand in brands %}
                                            <a class="dropdown-item" href="{{ path('site_brand',{'tag':brand.tag}) }}">
                                                <img src="{{ asset('brand/'~brand.pictureName) | imagine_filter('mini') }}" />
                                                {{ brand.name }}
                                            </a>
                                    {% endfor %}

                                </div>
                            </div>
                        {% endif %}
                    {% endif %}


                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                {% if pagination is defined %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                        <span class="alert alert-info" role="alert" >
                            <i class="fa fa-sort" aria-hidden="true"></i>
                            {{ knp_pagination_sortable(pagination, 'sitebundle.priceorder'|trans, 'p.priceOnline') }}
                        </span>
                    </div>
                {% endif %}
                <div class="row">
                    {% for product in pagination %}
                        {{ productService.getProduct(product.id)|raw }}
                    {% endfor %}
                </div>


                {% if pagination is defined %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


</div>






{% endblock %}
