{% extends 'baseFull.html.twig' %}
{% block body %}

    {% block stylsheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/slick-carousel/slick/slick.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/slick-carousel/slick/slick-theme.css') }}"/>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('assets/vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/slick-carousel/slick/slick.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $('.carousel').slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1
                });
            });
        </script>
    {% endblock %}







    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div id="custom-search-input" style="padding-top: 5px;">
                <div class="input-group col-md-12">
                    <input id="search" type="text" class="form-control input-sm" placeholder="search" />
                        <span class="input-group-btn">
                            <button onclick="search();" class="btn btn-info btn-sm" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
    </div>


            {% if  carrousel is defined %}
                {{ carrousel|raw }}
            {% endif %}



    <div class="row" style="text-align: center;">
        <div class="col-lg-4">
            <div class="card card-info">
                <div class="card-block">
                    {{ render(controller('SiteBundle:Text:Text',{'tag':'home-left'})) }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card  card-success">
                <div class="card-block">
                    {{ render(controller('SiteBundle:Text:Text',{'tag':'home-center'})) }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-danger">
                <div class="card-block">
                    {{ render(controller('SiteBundle:Text:Text',{'tag':'home-right'})) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row"  style="text-align: center;">
        <div class="col-lg-12">
            <div class="card " style="margin-top: 10px;margin-bottom: 10px;">
                <div class="card-block" >
                    {{ render(controller('SiteBundle:Text:Text',{'tag':'home-bottom'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
