{% extends 'baseFull.html.twig' %}

{% block body %}
    {% if  carrousel is defined %}{{ carrousel|raw }}{% endif %}
    <div class="row" style="text-align: center;">
        <div class="col-lg-4">
            <div class="card card-info">
                <div class="card-block">
                    {{ render(controller('SiteBundle:Text:Text',{'tag':'home-left'})) }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card  card-success">
                <div class="card-block">
                    {{ render(controller('SiteBundle:Text:Text',{'tag':'home-center'})) }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-danger">
                <div class="card-block">
                    {{ render(controller('SiteBundle:Text:Text',{'tag':'home-right'})) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row"  style="text-align: center;">
        <div class="col-lg-12">
            <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="card-block" >
                    {{ render(controller('SiteBundle:Text:Text',{'tag':'home-bottom'})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
