{% extends 'base2col.html.twig' %}

{% block body %}

    {% block metadata %}
        {% do cmf_seo_update_metadata(product) %}

        {{ parent() }}
    {% endblock metadata %}
<style>
    .docfileInProduct{
        margin-top: 8px;
    }
    .docfileInProduct .card-text{
        padding: 5px;
    }
    .links{
        padding: 5px;
    }
    .social{
        padding: 5px;
    }
    .warranties{
        font-size: 14px;
    }
    .tags{
        font-size: 14px;
    }
    .price{
        padding: 5px;
        font-size: 36px;
        text-align: center;
    }
    .price ul{
        font-size: 14px;
    }
</style>

    {% set productDisplayStock = product|displayStock('badge',true,true) %}

    <div class="col-md-3">

        <div class="card">

            <div class="card-header">
                <a class="btn btn-secondary" href="{{ path('site_basket_add',{id:product.id}) }}" style="color: {{ productDisplayStock['basketColor'] }};">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> {% trans %}sitebundle.addtobasket{% endtrans %}
                </a>
                {{ productDisplayStock['message']|raw }}
            </div>

            <div class="card-text price">
                <span>
                    {{ product.priceOnline|price }}
                </span>
                {% if product.taxesOnline|length > 0 %}
                    <ul class="list list-inline">{{ 'sitebundle.pricecontaining'|trans }}:
                        {% for tax in product.taxesOnline %}
                            <li class="list-inline-item">
                                <span  class="badge badge-default">
                                    {{ tax.name }}
                                    {% if tax.type == 'VALUE' %}{{ tax.value|price }}{% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {% if product.warrantiesOnline|length > 0 %}
                <div class="warranties">
                    <ul>
                    {% for warranty in product.warrantiesOnline  %}
                        <li>
                        <span class="badge badge-success">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            {{ warranty.name }}
                        </span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if product.tags|length > 0 %}
                <div class="tags">
                    <ul>
                        {% for tag in product.tags %}
                            <li>
                        <span class="badge badge-success">
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            {{ tag.name }}
                        </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="links">
                <div class="list-group">
                    <a href="{{ path('site_brand',{tag:product.brand.tag}) }}" class="list-group-item list-group-item-action">
                        <img src="{{ asset('brand/' ~ product.brand.pictureName  ) | imagine_filter('mini') }}" /> {{ product.brand.name }}
                    </a>
                    {% for category in product.categories  %}
                        <a href="{{ path('site_category',{tag:category.tag}) }}" class="list-group-item list-group-item-action">
                            <img src="{{ asset('category/' ~ category.pictureName  ) | imagine_filter('mini') }}" /> {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ facebookButton() }}</small>
            </div>


        </div>



        {% if product.docfiles|length > 0 %}
            <div class="card docfileInProduct">
                <div class="card-header">
                    <i class="fa fa-file"></i> {{ 'sitebundle.docfiles'|trans }}
                </div>
                <div class="card-text">
                    <div class="list-group">
                        {% for docfile in product.docfiles %}
                            <a href="{{ path('site_docfile',{docfile_id:docfile.id}) }}" class="list-group-item list-group-item-action">
                                {{ docfile.title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% set spec = product|spec %}
        {% if spec is not null %}
            <div class="card docfileInProduct">
                <div class="card-header">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    {{ 'sitebundle.specifications'|trans }}
                </div>
                <div class="card-text">
                    {{ spec|raw }}
                </div>
            </div>
        {% endif %}
    </div>

<div class="col-md-9">
    <div class="card">
        <div class="card-header">
            <h1>
                {% if product.pictures|length > 0 %}
                    <img src="{{ asset('product/'~product.pictures[0].pictureName ) | imagine_filter('mini') }}" />
                {% endif %}
                {{ product.brand.name ~ ' ' ~ product.name }}
            </h1>
        </div>
        <div class="card-block">
            <div class="card-text">
                {% if product.pictures|length > 0  %}
                    <ul class="list list-inline">
                        {% for picture in product.pictures %}
                            <li class="list-inline-item">
                                <a data-toggle="lightbox" data-gallery="product-gallery" href="{{ asset('product/'~picture.pictureName )}}" >
                                    <img class="card-img"  src="{{ asset('product/'~picture.pictureName ) | imagine_filter('product_small') }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {{ product.description|raw }}

                {% if product.relatedProducts|length > 0  %}
                    <h5>{% trans %}sitebundle.relatedproducts{% endtrans %}</h5>
                    <div class="row">
                        {% for relatedProduct in product.relatedProducts %}
                            {{ productService.getProduct(relatedProduct.id)|raw }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>



</div>

{% endblock %}
