<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">

    {% block stylesheets %}
    {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="lil-works">
    <link href="{{ asset('build/images/favicon.png') }}" rel="icon" type="image/png" >

    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>{{ render(controller('LilWorksStoreBundle:Ajax:Style')) }}"></style>
</head>
<body>

<div class="flashMessage">
    {{ site_flash.getMessages|raw }}
</div>

<div {#class="container-fluid"#} >
    <div class="row" id="header">


        <div class="d-none d-md-block col-md-2 ">
            <img class="float-right"  id="logo" src="{{ asset('bundles/site/image/logo_150.png') }}">
        </div>

        <div id="header-title" class="col-md-5  col-xs-6">
            {{ render(controller('SiteBundle:Text:Text',{'tag':'site-header'})) }}

            <form id="search" action="{{ path('site_all') }}" method="get" style="margin-bottom: 3px;">
                <div class="input-group">
                    <input id="search" type="text" style="background-color: #9999; color:#fff;" class="form-control input-sm" name="product_filter[search]" placeholder="{{ 'sitebundle.search'|trans }}" />
                        <span class="input-group-btn">
                            <button onclick="$('#search').submit();" class="btn btn-info btn-sm" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                </div>
            </form>

        </div>
        <div class="col-md-5 col-xs-6">
            {{ render(controller('SiteBundle:Site:userBasketSmall')) }}
        </div>


    </div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" id="navigation">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-site" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
        <a class="navbar-brand" href="{{ path('site_homepage') }}">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbar-site">
            {{ knp_menu_render('site',{ 'template': 'Menu/knp_menu_site.html.twig'}  ) }}
        </div>
    </div>
</nav>