{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/vendor/summernote/dist/summernote-bs4.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="h{{ asset('assets/vendor/popper.js/dist/popper.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/summernote/dist/summernote-bs4.min.js') }}"></script>
        <script>
            $( document ).ready(function() {

                $('.text-editor').summernote({
                    height: 200,
                    minHeight: null,
                    maxHeight: null,
                    focus: true,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']],
                        ['misc',['codeview','fullscreen']]
                    ]
                });
            });
        </script>
    {% endblock %}

    <h1>
        {% trans %}lilworks.storebundle.warranty.edit{% endtrans %}
    </h1>


    <div class="btn-group btn-group-sm lw-storebundle-action" role="group" aria-label="actions">
        <a href="{{ path('warranty_index') }}" class="btn btn-info btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.list{% endtrans %}
        </a>
        <a href="{{ path('warranty_new') }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.new{% endtrans %}
        </a>
        <a href="{{ path('warranty_show', { 'id': warranty.id }) }}" class="btn btn-info btn-sm">
            <i class="fa fa-eye" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.show{% endtrans %}
        </a>

        <a href="{{ path('warranty_delete', { 'id': warranty.id }) }}"  class="btn btn-danger btn-sm btn-delete {% if warranty.productsOffline|length > 0 or warranty.productsOffline|length > 0%}disabled{% endif %}" >
            <i class="fa fa-trash" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.delete{% endtrans %}
        </a>
    </div>

    {{ form_start(form) }}

    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}lilworks.storebundle.button.edit{% endtrans %}" />

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#general" role="tab">{% trans %}lilworks.storebundle.tab.general{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#products" role="tab">{% trans %}lilworks.storebundle.products{% endtrans %}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="general" role="tabpanel">
            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.name) }}
                    {{ form_row(form.descriptionPublic) }}
                    {{ form_row(form.descriptionInternal) }}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="products" role="tabpanel">
            {{ form_row(form.productsOnline) }}
            {{ form_row(form.productsOffline) }}
        </div>
    </div>

    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}lilworks.storebundle.button.edit{% endtrans %}" />
    {{ form_end(form) }}

{% endblock %}
