{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $( document ).ready(function() {
                $( window ).on( "load",
                        FF.init()
                );
                RE.init('category_index');
            });
        </script>

    {% endblock %}

    <h1>
        {% trans %}storebundle.category.list{% endtrans %}
    </h1>

    <div class="row">
        <div class="col-md-6">
            <div id="content_menu">
                {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.product.portal','storebundle.menu.category'] , {context: 'content'}) %}
                {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
            </div>
        </div>
        <div class="col-md-6">
            {% transchoice pagination.getTotalItemCount %}
            {0} no result found|{1} found one result|]1,Inf[ found %count% results
            {% endtranschoice %}
            {{ knp_pagination_render(pagination) }}
            <form method="get" action="." class="formFilter">
                {{ form_rest(formFilter) }} <input type="submit" class="btn btn-sm btn-secondary" name="submit-filter" value="{% trans %}storebundle.button.filter{% endtrans %}" />
            </form>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}storebundle.action{% endtrans %}</th>
            <th>
                {{ rowsLiveEditor.getActions()|raw }}
            </th>
            <th>{{ knp_pagination_sortable(pagination, 'storebundle.ispublished'|trans, 'c.isPublished') }}</th>
            <th>{% trans %}storebundle.products{% endtrans %}</th>
            <th>{{ knp_pagination_sortable(pagination, 'storebundle.name'|trans, 'c.name') }}</th>
            <th>{% trans %}storebundle.picture{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% set entityName = 'LilWorksStoreBundle:Category' %}
        {% for category in pagination %}
            <tr>
                <td>
                    {% set formatedItems = pagination.items|idinkey %}
                    {% set menu = knp_menu_get('list', [ category.id ] ,{results:formatedItems[category.id]   ,target:'category'} ) %}
                    {{ knp_menu_render(menu,{template: 'LilWorksStoreBundle:Menu:list.html.twig'}) }}
                </td>
                <td>
                    {{ rowsLiveEditor.getRowCheckbox( category.id )|raw }}
                </td>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\Category\\IsPublishedType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'isPublished',category)|raw }}
                </td>
                <td>{{ category.products|length }}</td>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\Category\\NameType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'name',category)|raw }}
                </td>
                <td>
                    {% if category.pictureName %}
                        <img src="{{ asset('category/' ~ category.pictureName  ) | imagine_filter('my_thumb') }}" />
                    {% else %}
                        <i class="fa fa-circle" ></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
