{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/vendor/summernote/dist/summernote-bs4.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="h{{ asset('assets/vendor/popper.js/dist/popper.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/summernote/dist/summernote-bs4.min.js') }}"></script>
        <script>
            $( document ).ready(function() {

                $('.text-editor').summernote({
                    height: 200,
                    minHeight: null,
                    maxHeight: null,
                    focus: true,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']],
                        ['misc',['codeview','fullscreen']]
                    ]
                });

            });
        </script>
    {% endblock %}

    <h1>
        {% trans %}lilworks.storebundle.category.new{% endtrans %}
    </h1>

    <div class="btn-group btn-group-sm lw-storebundle-action" role="group" aria-label="actions">
        <a href="{{ path('category_index') }}" class="btn btn-info btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.list{% endtrans %}
        </a>
    </div>


    {{ form_start(form) }}


    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}lilworks.storebundle.button.create{% endtrans %}" />


    <div class="row">
        <div class="row-sm-10 offset-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-sm btn-success" value="{% trans %}lilworks.storebundle.button.create{% endtrans %}" />
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
