
            {% if user is null %}
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>{{ 'sitebundle.user.notconnected'|trans }}</h5>
                        <a class="btn btn-primary btn-sm" href="{{ path('fos_user_security_login') }}"><i class="fa fa-user" aria-hidden="true"></i>{{ 'layout.login'|trans }}</a>
                        <a class="btn btn-primary btn-sm" href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-o" aria-hidden="true"></i>{{ 'registration.submit'|trans }}</a>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>
                            {{ 'layout.logged_in_as'|trans }}
                            </h5>
                        <a class="btn btn-primary btn-sm" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i>{{ 'profile.edit'|trans }}</a>
                        <a class="btn btn-primary btn-sm" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>{{ 'layout.logout'|trans }}</a>
                    </div>
                </div>
            {% endif %}
