{% extends 'base.html.twig' %}

{% block body %}


    <h1>
        {% trans %}lilworks.storebundle.docfile.edit{% endtrans %}
    </h1>


    <div class="btn-group btn-group-sm lw-storebundle-action" role="group" aria-label="actions">
        <a href="{{ path('docfile_index') }}" class="btn btn-info btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.list{% endtrans %}
        </a>
        <a href="{{ path('docfile_new') }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.new{% endtrans %}
        </a>
        <a href="{{ path('docfile_show', { 'id': docfile.id }) }}" class="btn btn-info btn-sm">
            <i class="fa fa-eye" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.show{% endtrans %}
        </a>

        <a href="{{ path('docfile_delete', { 'id': docfile.id }) }}"  class="btn btn-danger btn-sm btn-delete" >
            <i class="fa fa-trash" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.delete{% endtrans %}
        </a>
    </div>


    {{ form_start(form) }}

    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}lilworks.storebundle.button.edit{% endtrans %}" />

    <div class="row">
        <div class="row-sm-10 offset-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-sm btn-success" value="{% trans %}lilworks.storebundle.button.edit{% endtrans %}" />
            {{ form_end(form) }}
        </div>
    </div>


    {{ form_end(form) }}

{% endblock %}
