{% trans_default_domain 'FOSUserBundle' %}



<div class="row">

<div class="col-lg-4">
    {{ form_start(form, { 'action': path('fos_user_registration_register'), 'attr': { 'class': 'fos_user_registration_register' } }) }}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            {% trans %}sitebundle.user{% endtrans %}
        </div>
        <div class="card-block">
            {# {{ form_row(form.username) }} #}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.customer.firstName) }}
            {{ form_row(form.customer.lastName) }}
            {{ form_row(form.customer.companyName) }}
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-address-card-o" aria-hidden="true"></i>
            {% trans %}sitebundle.addresses{% endtrans %}
        </div>
        <div class="card-block">
            <ul class="addresses list-inline " id="target" data-prototype="{{ form_widget(form.customer.addresses.vars.prototype)|e('html_attr') }}">
                {% for addresse in form.customer.addresses %}
                    <li class="addresse list-inline-item">
                        {{ form_row(addresse) }}
                    </li>
                {% endfor %}
            </ul>
            {{ form_widget(form.customer.addresses) }}
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-phone" aria-hidden="true"></i>
            {% trans %}sitebundle.phonenumbers{% endtrans %}
        </div>
        <div class="card-block">
            <ul class="phonenumbers list-inline " id="target" data-prototype="{{ form_widget(form.customer.phonenumbers.vars.prototype)|e('html_attr') }}">
                {% for phonenumber in form.customer.phonenumbers %}
                    <li class="phonenumber list-inline-item">
                        {{ form_row(phonenumber) }}
                    </li>
                {% endfor %}
            </ul>
            {{ form_widget(form.customer.phonenumbers) }}
        </div>
    </div>
</div>


<input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
{{ form_end(form) }}


</div>