{% extends 'LilWorksStoreBundle:Syncro:base.html.twig' %}

{% block syncro %}




    <div class="row" >
        {% for db in syncro %}
        <div class="col-sm-4" >
            <div class="card" style="margin-top: 5px;">
                <div class="card-block">
                    <h3 class="card-title">
                        {% if db["icon"] is defined %}
                            {% if db["icon"] is not iterable %}
                                <i class="{{ db["icon"] }}"></i>
                            {% else %}
                                {% for i in db["icon"] %}
                                    <i class="{{ i }}"></i>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {{ ('storebundle.synchro.'~db['name'])|trans }}
                    </h3>

                    {% if db["folder"] is defined %}
                    <div class="card-text">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                        {{ db["folder"] }}
                    </div>
                    {% endif %}




                    <div class="card-text">


                        {% if db["syncro"] == true %}
                            <div class="alert alert-success" role="alert">
                                {% trans %}storebundle.syncro.issyncronized{% endtrans %}
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                {% trans %}storebundle.syncro.products.ko{% endtrans %}
                            </div>
                        {% endif %}

                    </div>
                    {% if db["dependencies"] is defined %}
                        {#
                        <div class="card-text">
                            <ul>
                                {% for k,dependency in db["dependencies"]  %}
                                    <li>
                                        {{ dump(db['dStatus'][k]) }}
                                        {% if db['dStatus'][k] == 'true' %}
                                            <span style="color: green;"> {{ ('storebundle.synchro.'~dependency)|trans }}</span>
                                        {% else %}
                                            <span style="color: red;"> {{ ('storebundle.synchro.'~dependency)|trans }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        #}
                    {% endif %}

                    {% if db["syncro"] == false %}

                        <a role="button" class="btn btn-sm btn-secondary" href="{{ path('syncro_action',{what:db['name']}) }}">
                            <i class="fa fa-external-link-square" aria-hidden="true"></i>
                            {% trans %}storebundle.syncro.syncronize{% endtrans %}
                        </a>

                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>





{% endblock %}
