{% extends 'LilWorksStoreBundle:Pdf:base.html.twig' %}

{% set order = orderProductReturn.orderProduct.order %}




{% block title %}
    <h1>
        {{ orderProductReturn.reference }}
    </h1>
    <h5>
        {{ orderProductReturn.returnedAt|date('d/m/Y') }}
    </h5>
{% endblock %}


{% block customer %}
    <div style="text-align: right;">
        <strong>
            {{ order.customer.firstName ~ ' ' ~ order.customer.lastName ~ ' ' ~ order.customer.companyName }}
        </strong>
        <div>
            {% if order.billingAddressString is defined and order.billingAddressString is not null and order.billingAddressString != "" %}
                {{ order.billingAddressString }}
            {% elseif order.billingAddress is not null %}
                {{ order.billingAddress|formataddress|raw}}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}





    <table class="table table-striped">
        <tbody>

        <tr>
            <th>{% trans %}storebundle.order{% endtrans %}</th>
            <td>
                {{ order.reference }}
            </td>
        </tr>


        <tr>
            <th>{% trans %}storebundle.product{% endtrans %}</th>

            <td>
                <sup>{{ orderProductReturn.quantity }}</sup>&frasl;<sub>{{ orderProductReturn.orderProduct.quantity }}</sub>

                {{ orderProductReturn.orderProduct.product.brand.name }} {{ orderProductReturn.orderProduct.product.name }}
                ({{ orderProductReturn.orderProduct.price|price }})
            </td>
        </tr>
        <tr>
            <th>{% trans %}storebundle.paymentmethods{% endtrans %}</th>
            <td>
                {% for returnPaymentMethod in orderProductReturn.returnsPaymentMethods  %}
                    {% if returnPaymentMethod.paymentMethod.tag == "COUPON" %}
                        {{ returnPaymentMethod.coupon.reference }}
                        {{ returnPaymentMethod.paymentMethod.name }}
                        {{ returnPaymentMethod.amount|price }}
                        {% else %}
                        {{ returnPaymentMethod.paymentMethod.name }}
                        {{ returnPaymentMethod.amount|price }}
                    {% endif %}


                {% endfor %}
            </td>
        </tr>

        {% if  orderProductReturn.description %}
            <tr>
                <th>{% trans %}storebundle.description{% endtrans %}</th>
                <td>{{ orderProductReturn.description|raw }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}