{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}brand{% endtrans %}
    </h1>

    <div class="lilworks_list_showAction">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ path('brand_index') }}" class="btn btn-info btn-sm">
                    <i class="fa fa-list"></i> {% trans %}brand list{% endtrans %}
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ path('brand_edit', { 'id': brand.id }) }}" class="btn btn-info btn-sm">
                    <i class="fa fa-pencil "></i> {% trans %}edit{% endtrans %}
                </a>
            </li>

            <li class="list-inline-item">
                {% if  brand.products|length == 0 %}
                    <a href="{{ path('brand_delete', { 'id': brand.id }) }}"  class="btn btn-warning btn-sm" >
                        <i class="fa fa-trash"></i> {% trans %}delete{% endtrans %}
                    </a>
                {% else %}
                    <del><i class="fa fa-trash"></i></del>
                {% endif %}
            </li>
        </ul>
    </div>


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{% trans %}id and tag{% endtrans %}</th>
                <td>#{{ brand.id }} {{ brand.tag }}</td>
            </tr>
            <tr>
                <th>{% trans %}name{% endtrans %}</th>
                <td>{{ brand.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}description{% endtrans %}</th>
                <td>{{ brand.description|raw }}</td>
            </tr>
            <tr>
                <th>{% trans %}picture{% endtrans %}</th>
                <td>
                    {% if brand.pictureName %}
                        <img src="{{ asset('brand/' ~ brand.pictureName  ) | imagine_filter('my_thumb') }}" />
                    {% else %}
                        <i class="fa fa-circle-thin" style="color: red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}products{% endtrans %}</th>
                <td>
                    {% if brand.products|length > 0 %}
                        <ul class="list-inline">
                            {% for product in brand.products %}
                                <li class="list-inline-item page-item product">
                                    <a href="{{ path('product_show',{id: product.id}) }}" role="button" class="btn btn-secondary btn-sm active">{{ product.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <i class="fa fa-circle-thin" style="color: red;"></i>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
