{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {% trans %}lilworks.storebundle.shippingmethod.show{% endtrans %}
    </h1>

    <div class="btn-group btn-group-sm lw-storebundle-action" role="group" aria-label="actions">
        <a href="{{ path('shippingmethod_index') }}" class="btn btn-info btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.list{% endtrans %}
        </a>
        <a href="{{ path('shippingmethod_new') }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.new{% endtrans %}
        </a>
        <a href="{{ path('shippingmethod_edit', { 'id': shippingMethod.id }) }}" class="btn btn-primary btn-sm">
            <i class="fa fa-pencil" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.edit{% endtrans %}
        </a>
        {% if
        shippingMethod.products|length == 0 and
        shippingMethod.ordersProductsShippingMethods|length == 0 and
        shippingMethod.shippingmethodsCountries|length == 0
        %}
            {% set disabled = "" %}
        {% else %}
            {% set disabled = "disabled" %}
        {% endif %}
        <a href="{{ path('shippingmethod_delete', { 'id': shippingMethod.id }) }}"  class="btn btn-danger btn-sm btn-delete {{ disabled }}" >
            <i class="fa fa-trash" aria-hidden="true"></i> {% trans %}lilworks.storebundle.link.delete{% endtrans %}
        </a>
    </div>
    {% set entityName = 'LilWorksStoreBundle:ShippingMethod' %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{% trans %}lilworks.storebundle.idandtag{% endtrans %}</th>
                <td>#{{ shippingMethod.id }} {{ shippingMethod.tag }}</td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.ispublished{% endtrans %}</th>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\ShippingMethod\\IsPublishedType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'isPublished',shippingMethod)|raw }}
                </td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.picture{% endtrans %}</th>
                <td>
                    {% if shippingMethod.pictureName %}
                        <img src="{{ asset('shippingmethod/' ~ shippingMethod.pictureName  ) | imagine_filter('my_thumb') }}" />
                    {% else %}
                        <i class="fa fa-circle-thin" style="color: red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.name{% endtrans %}</th>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\ShippingMethod\\NameType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'name',shippingMethod)|raw }}
                </td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.description{% endtrans %}</th>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\ShippingMethod\\DescriptionType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'description',shippingMethod)|raw }}
                </td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.internaldescription{% endtrans %}</th>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\ShippingMethod\\DescriptionInternalType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'descriptionInternal',shippingMethod)|raw }}
                </td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.price{% endtrans %}</th>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\ShippingMethod\\PriceType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'price',shippingMethod)|raw }}
                </td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.shippingmethod.freetrigger{% endtrans %}</th>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\ShippingMethod\\FreeTriggerType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'freeTrigger',shippingMethod)|raw }}
                </td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.shippingmethod.allowedcountries{% endtrans %}</th>
                <td>
                    <ul class="list-unstyled">
                        {% for country in shippingMethod.shippingmethodscountries %}
                            <li>
                                {% if country.isPublished %}
                                    <i class="fa fa-check" style="color: green;"></i>
                                {% else %}
                                    <i class="fa fa-times" style="color: red;"></i>
                                {% endif %}

                                {{ country.country.name }} •
                                {% if country.price is not null %}
                                    {{ country.price|price }}
                                {% else %}
                                    {{ shippingMethod.price|price }}
                                {% endif %}

                                ( {% trans %}lilworks.storebundle.shippingmethod.freetrigger{% endtrans %} {% if country.freeTrigger is not null %}{{ country.freeTrigger|price }} {% else %}{{ shippingMethod.freeTrigger|price }} {% endif %})
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            <tr>
                <th>{% trans %}lilworks.storebundle.shippingmethod.orderproductcount{% endtrans %}</th>
                <td>
                    {% if shippingMethod.ordersRealshippingMethods|length > 0 %}
                        {{ shippingMethod.ordersRealshippingMethods|length }}
                    {% else %}
                        <i class="fa fa-circle"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}lilworks.storebundle.shippingmethod.products{% endtrans %}</th>
                <td>
                    {% if shippingMethod.products|length > 0 %}

                            {% for product in shippingMethod.products %}

                                <a role="button" class="btn btn-sm btn-secondary" href="{{ path('product_show',{id: product.id}) }}">
                                    <i class="fa fa-pencil"></i>
                                    {% if product.pictures|length > 0 %}
                                        <img src="{{ asset('product/' ~ product.pictures[0].pictureName  ) | imagine_filter('mini') }}" />
                                    {% endif %}
                                    {{ product.brand.name }}
                                    {{ product.name }}
                                </a>
                            {% endfor %}

                    {% else %}
                        <i class="fa fa-circle"></i>
                    {% endif %}
                </td>
            </tr>




        </tbody>
    </table>

{% endblock %}
