{% extends 'base.html.twig' %}

{% block body %}
    <h1>Session</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ session.data }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ session.time }}</td>
            </tr>
            <tr>
                <th>Lifetime</th>
                <td>{{ session.lifetime }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('session_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
