{% extends 'base.html.twig' %}

{% block body %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/vendor/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/tinymce/langs.fr_FR.js') }}"></script>
        <script>

            $( document ).ready(function() {
                initTinyMce.text('.editor-text',['{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}','{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}']);
                FCE.init('pictures','pictures list-inline','picture list-inline-item');
                MT.init('productTab');
            });

        </script>
    {% endblock %}


    <h1>
        <i class="fa fa-cube" aria-hidden="true"></i>
        {% trans %}storebundle.product.new{% endtrans %}
    </h1>

    <div id="content_menu">
        {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.product.portal','storebundle.menu.product'] , {context: 'content'}) %}
        {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
    </div>


    {{ form_start(form) }}


    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}storebundle.button.create{% endtrans %}" />

    <ul class="nav nav-tabs" role="tablist"  id="productTab">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#general" role="tab">{% trans %}storebundle.tab.general{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#descriptions" role="tab">{% trans %}storebundle.description{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#prices" role="tab">{% trans %}storebundle.price{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#warranties" role="tab">{% trans %}storebundle.warranties{% endtrans %}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" data-toggle="tab" href="#shippingmethods" role="tab">{% trans %}storebundle.shippingmethods{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#stocks" role="tab">{% trans %}storebundle.stocks{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#specifications" role="tab">{% trans %}storebundle.product.specifications{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pictures" role="tab">{% trans %}storebundle.pictures{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#more" role="tab">{% trans %}storebundle.tab.more{% endtrans %}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="general" role="tabpanel">
            {{ form_row(form.name) }}
            {{ form_row(form.brand) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.isPublished) }}
            {{ form_row(form.isSecondHand) }}
            {{ form_row(form.isArchived) }}
        </div>
        <div class="tab-pane" id="descriptions" role="tabpanel">
            {{ form_row(form.description) }}
            {{ form_row(form.descriptionInternal) }}
        </div>
        <div class="tab-pane" id="prices" role="tabpanel">
            {{ form_row(form.priceOnline) }}
            {{ form_row(form.taxesOnline) }}
            {{ form_row(form.priceOffline) }}
            {{ form_row(form.taxesOffline) }}
            {{ form_row(form.priceBuying) }}
            {{ form_row(form.priceRetail) }}
        </div>
        <div class="tab-pane" id="warranties" role="tabpanel">
            {{ form_row(form.warrantiesOnline) }}
            {{ form_row(form.warrantiesOffline) }}
        </div>
        <div class="tab-pane" id="shippingmethods" role="tabpanel">
            {{ form_row(form.shippingMethods) }}
        </div>
        <div class="tab-pane" id="stocks" role="tabpanel">
            {{ form_row(form.stock) }}
            {{ form_row(form.leadTime) }}
            {{ form_row(form.alwaysAvailable) }}
        </div>
        <div class="tab-pane" id="specifications" role="tabpanel">
            {{ form_row(form.width) }}
            {{ form_row(form.height) }}
            {{ form_row(form.length) }}
            {{ form_row(form.weight) }}
            {{ form_row(form.docfiles) }}
        </div>
        <div class="tab-pane" id="pictures" role="tabpanel">

            <h3>{% trans %}pictures{% endtrans %}</h3>
            <ul class="pictures list-inline " id="target" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
                {% for picture in form.pictures %}
                    <li class="picture list-inline-item">
                        <img class="rounded" src="{{ asset('product/' ~ picture.vars.value.pictureName  ) | imagine_filter('my_thumb') }}" />
                        {{ form_row(picture) }}
                    </li>
                {% endfor %}
            </ul>
            {{ form_widget(form.pictures) }}

        </div>

        <div class="tab-pane" id="more" role="tabpanel">
            {{ form_row(form.isReviewable) }}
            {{ form_row(form.relatedProducts) }}
            {{ form_row(form.tags) }}
        </div>
    </div>


    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}storebundle.button.create{% endtrans %}" />

    {{ form_end(form) }}

{% endblock %}
