{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}storebundle.product.show{% endtrans %}
    </h1>

    <div id="content_menu">
        {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.product.portal','storebundle.menu.product'] , {context: 'content'}) %}
        {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
    </div>


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{% trans %}storebundle.idandtag{% endtrans %}</th>
                <td>#{{ product.id }} {{ product.tag }}
                    <a href="{{ path('site_product',{tag:product.tag}) }}" target="_blank">{% trans %}storebundle.link.showonline{% endtrans %}</a>
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.brand{% endtrans %}</th>
                <td>
                    <a role="button" class="btn btn-sm btn-secondary" href="{{ path('brand_show',{ brand_id:product.brand.id }) }}">{{ product.brand.name }}</a>
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.name{% endtrans %}</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.categories{% endtrans %}</th>
                <td>
                    <ul class="list-inline">
                    {% for category in product.categories %}
                        <li class="list-inline-item">
                            <a role="button" class="btn btn-sm btn-secondary" href="{{ path('category_show',{category_id:category.id }) }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.ispublished{% endtrans %}</th>
                <td>
                    {% if product.isPublished %}
                        <i class="fa fa-check" style="color: green;"></i>
                    {% else %}
                        <i class="fa fa-times" style="color: red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    {% trans %}storebundle.tags{% endtrans %}
                </th>
                <td>
                    {% if  product.tags|length > 0 %}
                        <ul class="list-inline">
                            {% for tag in product.tags %}
                                <li class="list-inline-item">
                                    <a  role="button" class="btn btn-sm btn-secondary" href="{{ path('tag_show',{tag_id:tag.id }) }}">{{ tag.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}

                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    {% trans %}storebundle.relatedproducts{% endtrans %}
                </th>
                <td>
                    {% if  product.relatedProducts|length > 0 %}
                        <ul class="list-inline">
                            {% for relatedProduct in product.relatedProducts %}
                                <li class="list-inline-item">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a  role="button" class="btn btn-sm btn-secondary" href="{{ path('brand_show',{brand_id:relatedProduct.brand.id }) }}">{{ relatedProduct.brand.name }}</a>
                                        <a  role="button" class="btn btn-sm btn-secondary" href="{{ path('product_show',{product_id:relatedProduct.id }) }}">{{ relatedProduct.name }}</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}

                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    {% trans %}storebundle.product.isrelatedto{% endtrans %}
                </th>
                <td>
                    {% if  product.productsRelated|length > 0 %}
                        <ul class="list-inline">
                            {% for productRelated in product.productsRelated %}
                                <li class="list-inline-item">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a  role="button" class="btn btn-sm btn-secondary" href="{{ path('brand_show',{brand_id:productRelated.brand.id }) }}">{{ productRelated.brand.name }}</a>
                                        <a  role="button" class="btn btn-sm btn-secondary" href="{{ path('product_show',{product_id:productRelated.id }) }}">{{ productRelated.name }}</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}

                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    {% trans %}storebundle.description{% endtrans %}
                </th>
                <td>{{ product.description|raw }}</td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    {% trans %}storebundle.descriptioninternal{% endtrans %}
                </th>
                <td>{{ product.descriptionInternal|raw }}</td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-money" aria-hidden="true"></i>
                    {% trans %}storebundle.priceonline{% endtrans %}
                </th>
                <td>
                    {% if product.priceOnline > 0 %}
                        {{ product.priceOnline|number_format(2, ',', '') }} €
                        {% if  product.taxesOnline|length > 0 %}
                            <ul>
                                {% for taxe in product.taxesOnline %}
                                    <li>
                                        {% if  taxe.type == "RATIO" %}
                                            {{ taxe.name }}: {{ taxe.value }}%
                                        {% elseif taxe.type == "VALUE"  %}
                                            {{ taxe.name }}:{{ taxe.value|number_format(2, ',', '') }} €
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                        <span style="color: red;">{% trans %}storebundle.notset{% endtrans %}</span>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>
                    <i class="fa fa-money" aria-hidden="true"></i>
                    {% trans %}storebundle.offline{% endtrans %}
                </th>
                <td>
                    {% if product.priceOffline > 0 %}
                        {{ product.priceOffline|number_format(2, ',', '') }} €
                        {% if  product.taxesOffline|length > 0 %}
                            <ul>
                                {% for taxe in product.taxesOffline %}
                                    <li>
                                        {% if  taxe.type == "RATIO" %}
                                            {{ taxe.name }}: {{ taxe.value }}%
                                        {% elseif taxe.type == "VALUE"  %}
                                            {{ taxe.name }}:{{ taxe.value|number_format(2, ',', '') }} €
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                        <span style="color: red;">{% trans %}storebundle.notset{% endtrans %}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-money" aria-hidden="true"></i>
                    {% trans %}storebundle.pricebuying{% endtrans %}
                </th>
                <td>
                    {% if product.priceBuying > 0 %}
                        {{ product.priceBuying|number_format(2, ',', '') }} €
                    {% else %}
                        <span style="color: red;">{% trans %}storebundle.notset{% endtrans %}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-money" aria-hidden="true"></i>
                    {% trans %}storebundle.priceretail{% endtrans %}
                </th>
                <td>
                    {% if product.priceRetail > 0 %}
                        {{ product.priceRetail|number_format(2, ',', '') }} €
                    {% else %}
                        <span style="color: red;">{% trans %}storebundle.notset{% endtrans %}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-truck"></i>
                    {% trans %}storebundle.shippingmethods{% endtrans %}
                </th>
                <td>
                    {% if  product.shippingMethods|length > 0 %}
                        <ul>
                            {% for shippingMethod in product.shippingMethods %}
                                <li>{{ shippingMethod.name }}|{{ shippingMethod.price }}€ (free for {{ shippingMethod.freeTrigger }} €)</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-shield"></i>
                    {% trans %}storebundle.warranties{% endtrans %}
                </th>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans %}storebundle.warrantiesoffline{% endtrans %}</th>
                                <th>{% trans %}storebundle.warrantiesonline{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {% if  product.warrantiesOffline|length > 0 %}
                                        <ul>
                                            {% for warranty in product.warrantiesOffline %}
                                                <li>
                                                    <a class="btn btn-sm btn-secondary" href="{{ path('warranty_show',{warranty_id:warranty.id}) }}">{{ warranty.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <span class="fa fa-circle"></span>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if  product.warrantiesOnline|length > 0 %}
                                        <ul>
                                            {% for warranty in product.warrantiesOnline %}
                                                <li>
                                                    <a class="btn btn-sm btn-secondary" href="{{ path('warranty_show',{warranty_id:warranty.id}) }}">{{ warranty.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <span class="fa fa-circle"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    <i class="fa fa-picture-o"></i>
                    {% trans %}storebundle.pictures{% endtrans %}
                </th>
                <td>
                {% for picture in product.pictures %}
                    <img src="{{ asset('product/' ~ picture.pictureName  ) | imagine_filter('my_thumb') }}" />
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}storebundle.product.spec{% endtrans %}</th>
                <td>
                    <ul>
                        {% if  product.width  %}<li>{% trans %}storebundle.product.width{% endtrans %}: {{ product.width }}</li>{% endif %}
                        {% if  product.length  %}<li>{% trans %}storebundle.product.length{% endtrans %}: {{ product.length }}</li>{% endif %}
                        {% if  product.height  %}<li>{% trans %}storebundle.product.height{% endtrans %}: {{ product.height }}</li>{% endif %}
                        {% if  product.weight  %}<li>{% trans %}storebundle.product.weight{% endtrans %}: {{ product.weight }}</li>{% endif %}
                        {% if  product.docFiles|length > 0 %}
                            {% if product.docFiles|length > 0%}
                            <ul>{% trans %}storebundle.product.docfile{% endtrans %}
                                {% for file in product.docFiles %}
                                    <li>
                                        <a class="btn btn-sm btn-secondary" href="{{ path('docfile_show',{docfile_id:file.id}) }}">{{ file.docName }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% else %}

                        {% endif %}
                    </ul>
                </td>
            </tr>

            <tr>
                <th>
                    <i class="fa fa-commenting-o"></i>
                    {% trans %}storebundle.product.review{% endtrans %}
                </th>
                <td>
                    {% if  product.reviews|length > 0 %}
                        <ul>
                            {% for review in product.reviews %}
                                <li>
                                    <p><a href="#">{{ review.user.username }}</a> • {{ review.user.email }}</p>
                                    <p>{{ review.rate }}</p>
                                    <p>{{ review.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}

                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
