

<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a> |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
        </a>
    {% else %}
        {{ render(controller('FOSUserBundle:Security:login')) }}
        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a> |
        <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
    {% endif %}
</div>

