{% extends 'base.html.twig' %}


{% block body %}


    <h1>
        <i class="fa fa-copyright" aria-hidden="true"></i>
        {% trans %}storebundle.brand.index{% endtrans %}
    </h1>



    <div class="row">
        <div class="col-md-5">
            <div id="content_menu">
                {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.product.portal','storebundle.menu.brand'] , {context: 'content'}) %}
                {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
            </div>
        </div>
        <div class="col-md-7">
            {% transchoice pagination.getTotalItemCount %}
            {0} no result found|{1} found one result|]1,Inf[ found %count% results
            {% endtranschoice %}
            {{ knp_pagination_render(pagination) }}
            {% if formFilter is defined %}
            <form method="get" action="." class="formFilter">
                {{ form_rest(formFilter) }} <input type="submit" class="btn btn-sm btn-secondary" name="submit-filter" value="{% trans %}storebundle.button.filter{% endtrans %}" />
            </form>
            {% endif %}
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans %}storebundle.action{% endtrans %}</th>
                <th>{% trans %}storebundle.brand.productcount{% endtrans %}</th>
                <th>{{ knp_pagination_sortable(pagination, 'storebundle.ispublished'|trans, 'b.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'storebundle.name'|trans, 'b.name') }}</th>
                <th>{% trans %}storebundle.website{% endtrans %}</th>
                <th>{% trans %}storebundle.picture{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% set entityName = 'LilWorksStoreBundle:Brand' %}

        {% for brand in pagination %}

            <tr>
                <td>
                    {% set formatedItems = pagination.items|idinkey %}
                    {% set menu = knp_menu_get('list', [ brand.id ] ,{results:formatedItems[brand.id]   ,target:'brand'} ) %}
                    {{ knp_menu_render(menu,{template: 'LilWorksStoreBundle:Menu:list.html.twig'}) }}
                </td>
                <td>{{ brand.products|length  }}</td>


                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\Brand\\IsPublishedType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'isPublished',brand)|raw }}
                </td>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\Brand\\NameType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'name',brand)|raw }}
                </td>
                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\Brand\\WebsiteType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'website',brand)|raw }}
                </td>
                <td>
                    {% if brand.pictureName %}
                        <img src="{{ asset('brand/' ~ brand.pictureName  ) | imagine_filter('my_thumb') }}" />
                    {% else %}
                        <i class="fa fa-circle"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
