{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}storeInfo list{% endtrans %}
    </h1>

    <div class="row">
        <div class="col-lg-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="{{ path('storeinfo_new') }}" class="btn btn-info btn-sm">
                        <i class="fa fa-plus"></i> {% trans %}new storeInfo{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            {% transchoice pagination.getTotalItemCount %}
            {0} No storeinfo found|{1} found one storeinfo|]1,Inf[ found %count% storeinfos
            {% endtranschoice %}
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans %}action{% endtrans %}</th>
                <th>{% trans %}tag{% endtrans %}</th>
                <th>{% trans %}value{% endtrans %}</th>
                <th>{% trans %}picture{% endtrans %}</th>
                <th>{% trans %}updatedAt{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% set entityName = 'LilWorksStoreBundle:StoreInfo' %}
        {% for storeInfo in pagination %}
            <tr>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('storeinfo_show', { 'id': storeInfo.id }) }}" class="btn btn-info btn-sm">
                                <i class="fa fa-eye"></i> {% trans %}show{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('storeinfo_edit', { 'id': storeInfo.id }) }}" class="btn btn-info btn-sm">
                                <i class="fa fa-pencil "></i> {% trans %}edit{% endtrans %}
                            </a>
                        </li>
                        <li>

                                <a href="{{ path('storeinfo_delete', { 'id': storeInfo.id }) }}"  class="btn btn-danger btn-sm" >
                                    <i class="fa fa-trash"></i> {% trans %}delete{% endtrans %}
                                </a>

                        </li>
                    </ul>
                </td>


                <td>{{ storeInfo.tag }}</td>

                <td>
                    {% set formType = 'LilWorks\\StoreBundle\\Form\\Ajax\\StoreInfo\\ValueType' %}
                    {{ simple_live_editor.getCol(formType,entityName,'value',storeInfo)|raw }}
                </td>


                <td>
                    {% if storeInfo.pictureName %}
                        <img src="{{ asset('storeinfo/' ~ storeInfo.pictureName  ) | imagine_filter('my_thumb') }}" />
                    {% else %}
                        <i class="fa fa-circle"></i>
                    {% endif %}
                </td>
                <td>{{ storeInfo.updatedAt|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
