{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% trans %}country new{% endtrans %}
    </h1>

    <div class="lilworks_list_showAction">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ path('country_index') }}" class="btn btn-info btn-sm">
                    <i class="fa fa-list"></i> {% trans %}country list{% endtrans %}
                </a>
            </li>
            

        </ul>
    </div>

    {{ form_start(form) }}




    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.tag) }}
    {{ form_errors(form.tag) }}
    {{ form_widget(form.tag) }}

    {{ form_label(form.flag) }}
    {{ form_errors(form.flag) }}
    {{ form_widget(form.flag) }}

    {{ form_label(form.isPublished) }}
    {{ form_errors(form.isPublished) }}
    {{ form_widget(form.isPublished) }}

    <h3>{% trans %}shippingmethods{% endtrans %}</h3>
    <ul class="shippingmethodsCountries list-inline " id="target" data-prototype="{{ form_widget(form.shippingmethodsCountries.vars.prototype)|e('html_attr') }}">
        {% for shippingmethodCountry in form.shippingmethodsCountries %}
            <li class="shippingmethodCountrie list-inline-item">{{ form_row(shippingmethodCountry) }}</li>
        {% endfor %}
    </ul>
    {{ form_widget(form.shippingmethodsCountries) }}



    <input type="submit" value="{% trans %}edit{% endtrans %}" class="btn btn-lg btn-primary" />
    {{ form_end(form) }}



    <script>


        jQuery(document).ready(function() {
            FCE.init('shippingmethodsCountries','shippingmethodsCountries list-inline','shippingmethodCountrie list-inline-item');
        });

    </script>


{% endblock %}
