{% extends 'base.html.twig' %}

{% block body %}


    <h1>{{ 'storebundle.menu.cat.config.portal'|trans }}</h1>


    <div class="card-columns">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    {{ 'storebundle.annonces'|trans }}
                </h4>
                <p class="card-text">
                <ul>
                    <li>{{ 'storebundle.all'|trans }}: {{ annoncesAll|length }}</li>
                    <li>{{ 'storebundle.allpublished'|trans }}: {{ annoncesPublished|length }}</li>

                </ul>
                </p>

                <blockquote class="card-block card-blockquote">
                    <footer>
                        {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.config.portal','storebundle.menu.annonce'] , {context: 'portal'}) %}
                        {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    <i class="fa fa-font" aria-hidden="true"></i>
                    {{ 'storebundle.texts'|trans }}
                </h4>
                <p class="card-text">
                <ul>
                    <li>{{ 'storebundle.all'|trans }}: {{ textsAll|length }}</li>

                </ul>
                </p>

                <blockquote class="card-block card-blockquote">
                    <footer>
                        {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.config.portal','storebundle.menu.text'] , {context: 'portal'}) %}
                        {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
                    </footer>
                </blockquote>
            </div>
        </div>

        {% if context == 'online' %}
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        {{ 'storebundle.subscriber'|trans }}
                    </h4>
                    <p class="card-text">
                    <ul>
                        <li>{{ 'storebundle.all'|trans }}: {{ subscribersAll|length }}</li>
                    </ul>
                    </p>

                    <blockquote class="card-block card-blockquote">
                        <footer>
                            {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.config.portal','storebundle.menu.subscriber'] , {context: 'portal'}) %}
                            {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
                        </footer>
                    </blockquote>
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        {{ 'storebundle.conversation'|trans }}
                    </h4>
                    <p class="card-text">
                    <ul>
                        <li>{{ 'storebundle.all'|trans }}: {{ conversationsAll|length }}</li>
                    </ul>
                    </p>

                    <blockquote class="card-block card-blockquote">
                        <footer>
                            {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.config.portal','storebundle.menu.conversation'] , {context: 'portal'}) %}
                            {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
                        </footer>
                    </blockquote>
                </div>
            </div>
        {% endif %}


    </div>



{% endblock %}
