{% extends 'base.html.twig' %}

{% block body %}


    <h1>
        <i class="fa fa-euro" aria-hidden="false"></i> {{ 'storebundle.menu.cat.payment.portal'|trans }}
    </h1>


    <div class="card-columns">

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    {{ 'storebundle.paymentmethods'|trans }}
                </h4>
                <p class="card-text">
                <ul>
                    <li>{{ 'storebundle.all'|trans }}: {{ paymentsAll|length }}</li>

                </ul>
                </p>

                <blockquote class="card-block card-blockquote">
                    <footer>
                        {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.payment.portal','storebundle.menu.paymentmethod'] , {context: 'portal'}) %}
                        {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    {{ 'storebundle.taxes'|trans }}
                </h4>
                <p class="card-text">
                <ul>
                    <li>{{ 'storebundle.all'|trans }}: {{ taxesAll|length }}</li>

                </ul>
                </p>

                <blockquote class="card-block card-blockquote">
                    <footer>
                        {% set menu = knp_menu_get('AppBundle:StoreBuilder:build', ['storebundle.menu.cat.payment.portal','storebundle.menu.tax'] , {context: 'portal'}) %}
                        {{ knp_menu_render(menu , {'template': 'LilWorksStoreBundle:Menu:content.html.twig'}) }}
                    </footer>
                </blockquote>
            </div>
        </div>

    </div>



{% endblock %}
