{% extends 'base.html.twig' %}

{% block body %}


    <h1>
        {% trans %}storebundle.coupon.edit{% endtrans %}
    </h1>
    <div class="btn-group btn-group-sm lw-storebundle-action" role="group" aria-label="actions" id="actions">
        <a href="{{ path('coupon_index') }}" class="btn btn-info btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans %}storebundle.link.list{% endtrans %}
        </a>
        <a href="{{ path('coupon_new') }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i> {% trans %}storebundle.link.new{% endtrans %}
        </a>
        <a href="{{ path('coupon_show', { coupon_id: coupon.id }) }}" class="btn btn-info btn-sm">
            <i class="fa fa-eye" aria-hidden="true"></i> {% trans %}storebundle.link.show{% endtrans %}
        </a>
        {% if coupon.ordersPaymentMethods|length != 0 %}{% set disabled = 'disabled' %}{% else %}{% set disabled = '' %}{% endif %}
        <a href="{{ path('coupon_delete', { coupon_id: coupon.id }) }}"  class="btn btn-danger btn-sm btn-delete {{ disabled }}" >
            <i class="fa fa-trash" aria-hidden="true"></i> {% trans %}storebundle.link.delete{% endtrans %}
        </a>

    </div>



    {{ form_start(form) }}
    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}storebundle.button.edit{% endtrans %}" />
    <div class="row">
        <div class="col col-lg-6">
            {{ form_row(form.customer) }}
        </div>
        <div class="col col-lg-6">
            {% if form.address is defined %}
                {{ form_row(form.address) }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3">
            {{ form_row(form.amount) }}
        </div>
        <div class="col col-lg-3">
            {{ form_row(form.validity) }}
        </div>
        <div class="col col-lg-3">
            {{ form_row(form.splitable) }}
        </div>
        <div class="col col-lg-3">
            {{ form_row(form.availableOnline) }}
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12" >
            {{ form_row(form.description) }}
        </div>
    </div>
    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}storebundle.button.edit{% endtrans %}" />
    {{ form_end(form) }}

{% endblock %}
