{% extends 'base.html.twig' %}

{% block body %}


    <h1>
        {% trans %}storebundle.coupon.new{% endtrans %}
    </h1>
    <div class="btn-group btn-group-sm lw-storebundle-action" role="group" aria-label="actions">
        <a href="{{ path('coupon_index') }}" class="btn btn-info btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i> {% trans %}storebundle.link.list{% endtrans %}
        </a>
    </div>


    {{ form_start(form) }}
    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}storebundle.button.edit{% endtrans %}" />
    <div class="row">
        <div class="col col-lg-6">
            {{ form_row(form.customer) }}
        </div>
        <div class="col col-lg-6">
            {{ form_row(form.amount) }}
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4">
            {{ form_row(form.validity) }}
        </div>
        <div class="col col-lg-4">
            {{ form_row(form.splitable) }}
        </div>
        <div class="col col-lg-4">
            {{ form_row(form.availableOnline) }}
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12" >
            {{ form_row(form.description) }}
        </div>
    </div>
    <input type="submit" class="btn btn-sm btn-success" value="{% trans %}storebundle.button.edit{% endtrans %}" />
    {{ form_end(form) }}

{% endblock %}
